:root {
  --color-background: silver;
  --color-text: white;
  --color-text-hover: rgb(255, 35, 35);
  --color-link: blue;
  --color-link-visited: purple;

  --font-family-pixel: 'VT323', monospace;

  --body-width: 3px;
  --border-style-outset: var(--border-width) outset;
  --border-style-inset: var(--border-width) inset;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: left;
    
    bottom: 0;
    width: 100%;

    height: auto;
    padding: 1rem;
}

a:visited {
    color: var(--color-text);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem;
    background-color: inherit;
}

.solarIcon {
    animation: spin 2s linear infinite;

    width: 40px;
    height: 40px;

}

.rocket {
    position: relative;
    left: 45%;    

    padding-bottom: 0.5rem;
    width: 40px;
    height: 60px;

}

.rocket:hover {
    animation: rocketSpin 3s linear infinite;
}

@keyframes spin {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}

@keyframes rocketSpin {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}
