:root {
  --color-background: silver;
  --color-text: white;
  --color-text-hover: rgb(255, 35, 35);
  --color-link: blue;
  --color-link-visited: purple;

  --font-family-pixel: 'VT323', monospace;

  --body-width: 3px;
  --border-style-outset: var(--border-width) outset;
  --border-style-inset: var(--border-width) inset;
}

.footer {
    position: absolute;
    display: flex;
    align-items: center;
    
    bottom: 0;
    width: 100%;

    height: auto;
    padding: 1rem 1rem;

}

a:visited {
    color: var(--color-text);
}

.nav {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: inherit;
    position: relative;
}

.solarEasterEgg {
    animation: spin 2s linear infinite;

    width: 40px;
    height: 40px;

}

.rocket {
    
    width: 40px;
    height: 40px;
    rotate: -45deg;
}

@keyframes spin {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}